
.profiling-result-container {
  margin-top: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

thead {
  background-color: var(--q-surface);
}

th, td {
  border: 1px solid var(--q-border);
  padding: 8px 12px;
  text-align: left;
}
