# Dependencies
/node_modules
/frontend/node_modules
/scripts/node_modules
/functions/node_modules

# Build outputs
/frontend/build

# Caching
/.cache
/frontend/.cache

# Log files
*.log

# Environment variables
.env
frontend/.env
functions/.env
