.App {
  display: flex;
}

nav {
  width: 200px;
  background-color: var(--q-surface);
  padding: 24px;
  height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: var(--q-text);
  font-weight: 500;
}

main {
  padding: 24px;
  flex: 1;
}
